*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
ul,ol{
  list-style-type: none;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.title{
  display: flex;
  justify-content: center;
}
.bread__part{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
.btn{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
}
.size__part{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.usti{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.list{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  li{
    display: flex;
    flex-direction: column;
  }
}
.checks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}
.qoshimchalar{
  display: flex;
  justify-content: space-around;
  align-items: center;
 padding-bottom: 50px;
}
.heading{
  margin-left: 12rem;
  margin-top: 4rem;
}
.btn1{
  padding: 15px;
  background-color: orangered;
  border: none;
  color: white;
  margin-top: 20px;
}